name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  test:
    strategy:
      matrix:
        go: ["1.24", "stable"]
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: true
      - name: Run go tests
        env:
          TEST_CF_ZONE_NAME: "${{ vars.TEST_CF_ZONE_NAME }}"
          TEST_CF_ZONE_ID: "${{ vars.TEST_CF_ZONE_ID }}"
          TEST_CF_APITOKEN: "${{ secrets.TEST_CF_APITOKEN }}"
        run: go test --race ./...

  golangci:
    strategy:
      matrix:
        go: ["1.24", "stable"]
        lint: ["v2.5.0"]
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ matrix.lint }}
